In [2]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
df.isna().sum()

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [7]:
#Chatbox is more comfortable to use than google search because it only gives one certain answer. However, the google search will provides me with a lot of result.
#I need to spend a lot of time to check whether these results can be used. But the answer given by Chatbox might not be totally correct. However, for the simple question, Chatbox can be trusted.

In [3]:
df = pd.read_csv(url)
df.isna().sum()

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [12]:
# Display the first few rows of the dataset
print(df.head())

   row_n       id     name  gender    species birthday personality  \
0      2  admiral  Admiral    male       bird     1-27      cranky
1      3  agent-s  Agent S  female   squirrel      7-2       peppy
2      4    agnes    Agnes  female        pig     4-21        uchi
3      6       al       Al    male    gorilla    10-18        lazy
4      7  alfonso  Alfonso    male  alligator      6-9        lazy

          song    phrase           full_id  \
0   Steep Hill   aye aye  villager-admiral
1      DJ K.K.  sidekick  villager-agent-s
2   K.K. House   snuffle    villager-agnes
3   Steep Hill   Ayyeeee       villager-al
4  Forest Life  it'sa me  villager-alfonso

                                                 url
0  https://villagerdb.com/images/villagers/thumb/...
1  https://villagerdb.com/images/villagers/thumb/...
2  https://villagerdb.com/images/villagers/thumb/...
3  https://villagerdb.com/images/villagers/thumb/...
4  https://villagerdb.com/images/villagers/thumb/...

In [4]:
# Get the shape of the dataset (rows, columns)
print(f"Number of rows and columns: {df.shape}")

Number of rows and columns: (391, 11)

In [5]:
# Get a concise summary of the DataFrame, including column types and non-null counts
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   row_n        391 non-null    int64
 1   id           390 non-null    object
 2   name         391 non-null    object
 3   gender       391 non-null    object
 4   species      391 non-null    object
 5   birthday     391 non-null    object
 6   personality  391 non-null    object
 7   song         380 non-null    object
 8   phrase       391 non-null    object
 9   full_id      391 non-null    object
 10  url          391 non-null    object
dtypes: int64(1), object(10)
memory usage: 33.7+ KB
None

In [6]:
# Get the number of missing values in each column
print(df.isna().sum())

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [7]:
# Get basic statistics about the dataset
print(df.describe())

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

In [17]:
# Get the number of rows and columns
rows, columns = df.shape

# Print the results
print(f"Number of rows: {rows}")
print(f"Number of columns: {columns}")

Number of rows: 391
Number of columns: 11

In [ ]:
#General Definitions:
#Observations: In my database, it means each row in my dataset refers to each villager in the game. Each villager has their own name, species, birthday, personality, and other attributes. However, generally, it refers to the information the database contains and recorded. Also, it means the information that the database can tell the reader of the database. Each observation is typically represented by a row in a table.(cited from chatgpt)
#Variables: In this case of my database, variable refers to each columns in my database which capture different attributes of each villager such as "name", "species", "birthday", "personality", and "hobby".(cited from Chatgpt) In general, variables refers to the characteristics in each observation.

In [18]:
# Summary of numerical columns
print("Summary of numerical columns:")
print(df.describe())

Summary of numerical columns:
            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

In [19]:
# Summary of categorical (non-numeric) columns
print("\nSummary of categorical columns:")
print(df.describe(include='object'))

Summary of categorical columns:
             id     name gender species birthday personality          song  \
count       390      391    391     391      391         391           380
unique      390      391      2      35      361           8            92
top     admiral  Admiral   male     cat     1-27        lazy  K.K. Country
freq          1        1    204      23        2          60            10

         phrase           full_id  \
count       391               391
unique      388               391
top     wee one  villager-admiral
freq          2                 1

                                                      url
count                                                 391
unique                                                391
top     https://villagerdb.com/images/villagers/thumb/...
freq                                                    1

In [20]:
# Summary of missing values per column
print("\nMissing values per column:")
print(df.isna().sum())

Missing values per column:
row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [21]:
# Replace 'column_name' with the actual column name you want to analyze
value_counts = df['species'].value_counts()

# Print the value counts for that column
print(value_counts)
#Explanation:
#Replace 'species' with the name of any column you're interested in.
#value_counts() will return the number of occurrences for each unique value in the specified column, sorted in descending order.

species
cat          23
rabbit       20
frog         18
squirrel     18
duck         17
dog          16
cub          16
pig          15
bear         15
mouse        15
horse        15
bird         13
penguin      13
sheep        13
elephant     11
wolf         11
ostrich      10
deer         10
eagle         9
gorilla       9
chicken       9
koala         9
goat          8
hamster       8
kangaroo      8
monkey        8
anteater      7
hippo         7
tiger         7
alligator     7
lion          7
bull          6
rhino         6
cow           4
octopus       3
Name: count, dtype: int64

In [22]:
#4. If the dataset you're using has (a) non-numeric variables and (b) missing values in numeric variables, explain (perhaps using help from a ChatBot if needed) the discrepancies between size of the dataset given by and what is reported by with respect to (a) the number of columns it analyzes and (b) the values it reports in the "count" columndf.shapedf.describe()
#The df.describe() function in pandas provides a summary of the statistics for the numerical columns in your dataset. It shows metrics such as count, mean, standard deviation, minimum, maximum, and quartile values (25%, 50%, and 75%) for each numerical column.
df.describe()

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

In [23]:
#For Categorical Data:
#To get summaries of non-numerical columns (like strings or objects), you can include the include='object' option:
summary_categorical = df.describe(include='object')
print(summary_categorical)

             id     name gender species birthday personality          song  \
count       390      391    391     391      391         391           380
unique      390      391      2      35      361           8            92
top     admiral  Admiral   male     cat     1-27        lazy  K.K. Country
freq          1        1    204      23        2          60            10

         phrase           full_id  \
count       391               391
unique      388               391
top     wee one  villager-admiral
freq          2                 1

                                                      url
count                                                 391
unique                                                391
top     https://villagerdb.com/images/villagers/thumb/...
freq                                                    1

In [28]:
#This function returns the total number of rows and columns in the dataset. 
#The output is in the form (rows, columns). 
#It includes all columns, regardless of their data type (numeric, categorical, etc.).
df.shape

(391, 11)

In [30]:
df.describe()
#By default, df.describe() only analyzes numeric columns, ignoring non-numeric variables like strings or objects. So, if your dataset contains non-numeric columns (e.g., name, species, personality), these will not be included in the output of df.describe() unless explicitly stated (e.g., by using df.describe(include='all')).So, if out of 10 columns, only 4 are numeric, df.describe() will only provide summary statistics for those 4 columns by default.
#Discrepancy in number of columns: If your dataset contains both numeric and non-numeric columns, df.shape will count all columns, while df.describe() will only summarize the numeric columns by default.

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

In [31]:
df.columns

Index(['row_n', 'id', 'name', 'gender', 'species', 'birthday', 'personality',
       'song', 'phrase', 'full_id', 'url'],
      dtype='object')

In [ ]:
"""Number of Columns Analyzed
df.shape returns the total number of rows and columns in the dataset. It includes all columns—both numeric and non-numeric.
By default, df.describe() only analyzes numeric columns, such as integers and floats. Non-numeric columns like strings (object type) or categorical data are not included unless explicitly specified by using df.describe(include='object') or df.describe(include='all').
"""

In [ ]:
"""df.shape[0] (Number of Rows) represents the total number of rows (observations) in the dataset, including both numeric and non-numeric data. df.shape[0] counts every row, regardless of whether or not it contains missing values (NaN) in any columns.
df.describe() - "Count"refers to the number of non-missing (non-null) values in each column.
If a numeric column contains missing values, the "count" for that column will be less than the total number of rows reported by df.shape[0]. For instance, if a dataset has 200 rows but a column has 20 missing values (NaNs), the "count" for that column will be 180.

In [ ]:
#5.
#attribute: Without parentheses. It's  a characteristic of the data about the dataset or more precisely, the object.
#Method: With parentheses.It's a function which conduct some computation with the data in the object. It provides us with the processed data.

In [ ]:
#6.The df.describe() method provides the 'count', 'mean', 'std', 'min', '25%', '50%', '75%', and 'max' summary statistics for each variable it analyzes. Give the definitions (perhaps using help from the ChatBot if needed) of each of these summary statistics
"""Count: The number of non-null (non-NaN) observations in a given column. It shows how many valid data points are available for each variable.
Mean: The average of the values in the column, calculated by summing all the values and dividing by the count of non-null entries.
Standard Deviation (std): The standard deviation is a measure of how spread out the numbers in the column are from the mean. It quantifies the amount of variation or dispersion.
Minimum: the smallest value in the column.
25th Percentile (25%): Also known as the first quartile, it is the value below which 25% of the data points lie. It divides the lowest 25% of data from the rest.
50th Percentile (50%): Also known as the median, it is the value below which 50% of the data points lie. It represents the middle value in the data, dividing the dataset into two equal halves.
75th Percentile (75%): Also known as the third quartile, it is the value below which 75% of the data points lie. It separates the lowest 75% of the data from the top 25%.
 Maximum (max): The largest value in the column.

In [6]:
#df.dropna() might be preferred because it only drops the rows where data is incomplete.
#However, del df['col'] deletes that specific column from the DataFrame which means it no longer exists in the DataFrame.
#Also, no output will be returned with del df['col'].
#For example, 
import pandas as pd

# Sample DataFrame
data = {'Name': ['John', 'Jane', 'Sara'],
        'Age': [25, None, 22],
        'City': ['New York', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)

# Before deletion
print(df)

   Name   Age         City
0  John  25.0     New York
1  Jane   NaN  Los Angeles
2  Sara  22.0      Chicago

In [7]:
df.dropna()

   Name   Age      City
0  John  25.0  New York
2  Sara  22.0   Chicago

In [10]:
del df['Age']
#I need to find the column and then delete it.

In [11]:
print (df)

   Name         City
0  John     New York
1  Jane  Los Angeles
2  Sara      Chicago

In [16]:
#Here is another example which using del df['col'] might be preferred over using df.dropna()
#When there are too many missing values in one column, also we need to preserve the data across rows. And column is less relevant. This is a case where deleting the column (del df['col']) is better than removing rows with df.dropna(), as it helps preserve important information and avoids losing too much data due to a single column with missing values.
import pandas as pd

data2 = {'Name': ['John', 'Jane', 'Sara'],
        'Age': [None, None, 22],
        'City': ['New York', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data2)

In [12]:
df.dropna()

   Name         City
0  John     New York
1  Jane  Los Angeles
2  Sara      Chicago

In [17]:
del df['Age']

In [18]:
print(df)

   Name         City
0  John     New York
1  Jane  Los Angeles
2  Sara      Chicago

In [ ]:
"""Why Applying del df['col'] Before df.dropna() Could Be Important:
1. data presercation: If the column has a lot of missing data, with df.dropna(), the entire rows that may contain important data in the columns will be removed. With del df['col'], not that much of rows of data will be droped.
2. efficiency: If a column is mostly missing, it is preferable to remove it upfront rather than having df.dropna() scan through all the columns and remove rows that could have been kept by simply deleting that one problematic column. Reducing the size of the dataset by removing unnecessary or irrelevant columns with del df['col'] first can make subsequent operations like df.dropna() more efficient.

In [19]:
"""Remove all missing data from one of the datasets you're considering using some combination of del df['col'] and/or df.dropna() and give a justification for your approach, including a "before and after" report of the results of your approach for your dataset.
"""
import pandas as pd

# Sample dataset with missing values
data3 = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, None, 30, None, 45],
    'Salary': [50000, 60000, None, 45000, 70000],
    'Feedback': [None, None, 'Good', None, None]
}

df = pd.DataFrame(data3)

# Displaying the dataset before cleaning
print("Before cleaning:")
print(df)

Before cleaning:
      Name   Age   Salary Feedback
0    Alice  25.0  50000.0     None
1      Bob   NaN  60000.0     None
2  Charlie  30.0      NaN     Good
3    David   NaN  45000.0     None
4      Eva  45.0  70000.0     None

In [ ]:
"""Step 1: Justification for del df['Feedback']
The Feedback column contains mostly missing values (4 out of 5 rows have None). This column seems irrelevant for the analysis, especially since it contains non-numeric text data and isn't likely to affect calculations on Age and Salary.
By removing the Feedback column, we avoid losing rows with complete data in more important columns.

In [20]:
# Deleting the 'Feedback' column
del df['Feedback']

# Displaying the dataset after deleting 'Feedback'
print("\nAfter deleting 'Feedback':")
print(df)

After deleting 'Feedback':
      Name   Age   Salary
0    Alice  25.0  50000.0
1      Bob   NaN  60000.0
2  Charlie  30.0      NaN
3    David   NaN  45000.0
4      Eva  45.0  70000.0

In [ ]:
"""Step 2: Justification for df.dropna()
After removing the Feedback column, we still have some missing values in Age and Salary. Now, it’s appropriate to use df.dropna() to remove rows with missing data because both Age and Salary are likely critical for analysis, and missing values here will affect the integrity of the results.
Using df.dropna() ensures that only complete rows (rows with no missing values) are retained.

In [21]:
# Dropping rows with missing values
df_clean = df.dropna()

# Displaying the dataset after dropping rows with missing values
print("\nAfter dropping rows with missing values:")
print(df_clean)

After dropping rows with missing values:
    Name   Age   Salary
0  Alice  25.0  50000.0
4    Eva  45.0  70000.0

In [ ]:
"""Justification for the Approach:
Removing Feedback Column: Since Feedback had mostly missing data and was irrelevant to the analysis, removing it with del df['Feedback'] avoided unnecessarily removing rows that contained valuable information in the Age and Salary columns.
Dropping Rows with Missing Values: After deleting the irrelevant column, we used df.dropna() to remove rows with missing data in critical columns (Age and Salary). This ensured that the final dataset was free of missing values and ready for analysis.
Conclusion:
By using a combination of del df['col'] and df.dropna(), we were able to remove the irrelevant Feedback column and clean the dataset to ensure all remaining rows have complete data in the important columns (Age and Salary). This resulted in a smaller but cleaner and more reliable dataset for further analysis.

In [22]:
import pandas as pd

# Load the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

# Display the first few rows of the dataset
print(df.head())
#pd.read_csv(url): This function loads the CSV file from the given URL into a DataFrame.
#df.head(): This displays the first 5 rows of the dataset, which gives you a quick overview of the data structure.

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [23]:
# Summary statistics of the dataset
print(df.describe())

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [24]:
# Checking for missing values
print(df.isnull().sum())
#df.describe(): This provides summary statistics for the numerical columns in the dataset (e.g., age, fare).
#df.isnull().sum(): This function checks for missing values in each column and gives a count of how many are missing in each.

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [25]:
# Display the data types of each column
print(df.dtypes)

survived         int64
pclass           int64
sex             object
age            float64
sibsp            int64
parch            int64
fare           float64
embarked        object
class           object
who             object
adult_male        bool
deck            object
embark_town     object
alive           object
alone             bool
dtype: object

In [27]:
"""Understanding df.groupby("col1")["col2"].describe()
The expression df.groupby("col1")["col2"].describe() groups the DataFrame df by the unique values in col1 and then provides descriptive statistics (e.g., count, mean, std, min, max, etc.) for the values of col2 within each group.

groupby("col1"): This groups the data by the unique values of the column col1. After this operation, the DataFrame is split into groups where all the rows in each group share the same value of col1.

["col2"]: This selects col2, the column on which you want to compute the descriptive statistics.

describe(): This provides summary statistics like count, mean, standard deviation, min, max, and other percentiles for col2, but calculated separately for each group defined by col1.
Let's demonstrate this with a different example from the Titanic dataset. For instance, we can group the passengers by their class (class) and look at the descriptive statistics for their fare (fare).
"""
# Load the Titanic dataset
import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

# Group by 'class' and get descriptive statistics for 'fare'
grouped_stats = df.groupby("class")["fare"].describe()

# Display the result
print(grouped_stats)

        count       mean        std  min       25%      50%   75%       max
class
First   216.0  84.154687  78.380373  0.0  30.92395  60.2875  93.5  512.3292
Second  184.0  20.662183  13.417399  0.0  13.00000  14.2500  26.0   73.5000
Third   491.0  13.675550  11.778142  0.0   7.75000   8.0500  15.5   69.5500

In [ ]:
"""
df.groupby("class")["fare"].describe(): This groups the passengers by their class (class), and for each group (e.g., First, Second, Third class), it calculates descriptive statistics (count, mean, std, min, max, etc.) for the fare column.
"""

In [ ]:
"""
Explanation of the Output:
Group by class: The data is grouped by the values in the class column (First, Second, Third class).
Descriptive statistics for fare:
Count: Number of passengers in each class.
Mean: The average fare paid by passengers in each class.
Std: The standard deviation of fares in each class, showing the spread of the data.
Min, Max: The minimum and maximum fare paid in each class.
Percentiles (25%, 50%, 75%): The 25th, 50th (median), and 75th percentiles of the fares in each class, which show the distribution of fares.
Why Use groupby with describe()?
It allows you to summarize data within subgroups (e.g., by class in this case) and compare the statistics across those groups.
You can quickly see how different groups vary in terms of the distribution of another variable (like fare in this example).
"""

In [28]:
"""
df.describe() and Count Values
df.describe() provides summary statistics for each column independently, ignoring missing values. The count in this context reflects the number of non-missing values for each column across the entire dataset.

For example, if a column has missing values, the count will show how many valid, non-null entries are present for that column. Each column is evaluated separately for its non-null count, and no comparison or relationship between different columns is made.
"""
print(df.describe())

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [29]:
"""
df.groupby("col1")["col2"].describe() groups the data based on the unique values of col1 and calculates the statistics (including count) for each group in col1, based on the values of col2.

The count here reflects the number of non-null values of col2 for each group in col1. The missing values in col2 are still ignored, but now the count also represents the size of each group defined by col1.
"""
df.groupby("class")["fare"].describe()
"""Count in this case reflects how many non-missing fare values exist within each group of class (e.g., 216 for First class, 184 for Second class).
The primary function of count in groupby is to show the size of each group after filtering out missing data. It gives insight into how many data points contribute to the statistics calculated for each group.
"""

        count       mean        std  min       25%      50%   75%       max
class
First   216.0  84.154687  78.380373  0.0  30.92395  60.2875  93.5  512.3292
Second  184.0  20.662183  13.417399  0.0  13.00000  14.2500  26.0   73.5000
Third   491.0  13.675550  11.778142  0.0   7.75000   8.0500  15.5   69.5500

In [ ]:
#more about question 9: url: https://chatgpt.com/share/66e39e01-87ec-8008-ba69-aa1cc8a27946

In [ ]:
#question 9 i: https://chatgpt.com/share/66e39f7c-4c50-8008-992c-07014831f473

In [ ]:
#q9ii: url:https://chatgpt.com/share/66e3a023-3150-8008-be45-0451308c7fdc

In [ ]:
#q9iii: url:https://chatgpt.com/share/66e3a071-cc5c-8008-a302-0fc0f4fc975c

In [ ]:
#q9iv-vii: url:https://chatgpt.com/share/66e3a15c-6c30-8008-b656-461a8e44c30a

In [ ]:
#9. Have you reviewed the course wiki-textbook and interacted with a ChatBot (or, if that wasn't sufficient, real people in the course piazza discussion board or TA office hours) to help you understand all the material in the tutorial and lecture that you didn't quite follow when you first saw it?
#yes

In [ ]:
#almost all of those I type is cited from chatgpt except those need my own words.
#chatgpt link1: https://chatgpt.com/share/66e38e6b-a0c4-8008-99ab-c95e62561bc9